

extends layout



block content


    h1="Elite Fleet"
    p Welcome to our Prototype

    input(type='file' name='input')
    input(type='button' value="Submit Data")

    table
        tr
            td one 
            td two 
            td three
        tr
        


    // Wrapper
      #wrapper

        // USER LIST
          h2 User List
          #userList
            table
                thead
                    th "CarID"
                    th "Breakdown"
                    th "Date"
                tbody
                    td car1

        // /USER LIST

    // /WRAPPER

extends layout
