extends layout
block content
    h1= title
    form#formAddVehicle(name="addvehicle",method="post",action="/newvehicle" type='multipart/form-data')
        input#inputvehicle_id(type="text", placeholder="vehicle#", name="vehicle_id")
        br
        input#inputvehicle_class(type="text", placeholder="vehicle class", name="vehicle_class")
        br
        input#inputvehicle_year(type="text", placeholder="vehicle year", name="vehicle_year")
        br
        input#inputvehicle_make(type="text", placeholder="vehicle make", name="vehicle_make")
        br
        input#inputvehicle_model(type="text", placeholder="vehicle model", name="vehicle_model")
        br
        input#inputvehicle_status(type="text", placeholder="vehicle status", name="vehicle_status")
        br
        input#inputvehicle_workorder(type="text", placeholder="vehicle workorder", name="vehicle_workorder")
        br
        input#inputvehicle_workorder_date_in(type="date", placeholder="vehicle work order data in", name="vehicle_workorder_date_in")
        br
        input#inputvehicle_workorder_date_out(type="date", placeholder="vehicle work order date out", name="vehicle_workorder_date_out")
        br
        input#inputvehicle_transaction_date(type="date", placeholder="vehicle transaction date", name="vehicle_transaction_date")
        br
        input#inputvehicle_repair_code(type="text", placeholder="vehicle repair code", name="vehicle_repair_code")
        br
        input#inputvehicle_repair_type_desc(type="text", placeholder="vehicle repair type decc", name="vehicle_repair_type_desc")
        br
        input#inputvehicle_repair_group(type="text", placeholder="vehicle repair group", name="vehicle_repair_group")
        br
        input#inputvehicle_repair_component(type="text", placeholder="vehicle repair component", name="vehicle_repair_component")
        br
        input#inputvehicle_repair_action(type="text", placeholder="vehicle repair action", name="vehicle_repair_action")
        br
        input#inputvehicle_asset_group(type="text", placeholder="vehicle asset group", name="vehicle_asset_group")
        br
        input#inputvehicle_fiscal_year(type="text", placeholder="vehicle fiscal year", name="vehicle_fiscal_year")
        br
        input#inputvehicle_repair_desc(type="text", placeholder="vehicle repair desc", name="vehicle_repair_desc")
        br
        br
        button#btnSubmit(type="submit") submit