


extends layout

block content
  div(class='row-fluid')
    div(class='col-md-6')
      head
        h1 Welcome to EliteFleet!!!
      table(id='books_table' class='dhtmlxGrid')
        tr
          td Make
          td Model
          td Year
        tr
          td Honda
          td Accord
          td 1999
        tr
          td Honda
          td Accura
          td 2001
    div(class='col-md-6')
      p Some other crap in a new column!

  script(src='javascripts/test.js')
