<!DOCTYPE html>
<html>
<head>

</head>

<body>
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/global.js')

<H1> Welcome to Elite Fleet </H1>
<form action="csv_form.asp">
 <input type="file" name="csv" accept="csv/*">
 <input type="submit">
</form> 


</body>
</html>
