<!DOCTYPE html>
<html>
<head>

</head>

<body>


<H1> Welcome to Elite Fleet </H1>
<form action="csv_form.asp">
 <input type="file" name="csv" accept="csv/*">
 <input type="submit">
</form> 


</body>
</html>
